header{
    max-width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #ABB8AA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}
header>h1{
   
    max-width: 435px;
    height: 47px;
    font-family: 'Gentium Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: rgba(0, 0, 0, 0.62);
}
.backgroundcolor{
    background: #E3EDE0;
    height: auto;
}
.inputdiv{
    width: 100%;
    display: flex;
    background: #E3EDE0;
}
.inputdivnone{
    width: 220px;

}
.inputdiv1{
    display: inline-block;
    position: relative;
   
    margin-top: 20px;
}
.inputdiv1>input{
    
    width: 295px;
    height: 42px;
    left: 0px;
    top: 7px;

    border: 1px solid #363933;
    border-radius: 4px;
    background-color:  #E3EDE0;;
        
}
.inputdiv1>label{
    position:absolute;
    margin-top: -7px;
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #363933;
    scale: 2;
   
    background: #E3EDE0;
    box-sizing: border-box;



        
    
}
.inputdiv2>button{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    gap: 6px;
    max-width: 130px;
    height: 42px;
    background: #1E1E1E;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
 

}
.inputdiv2>button>p{
    max-width: 73px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
   
    cursor: pointer;
}

.divbox{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    align-items: center;
      
}

.divsection1{
    display: flex;
    margin-top: 20px;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
    padding: 0px;
    gap: 130px;
    max-width: 1570px;
    top: 205px;
    

}
.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 20px;
    padding: 20px 20px 58px;
 
    max-width:  295px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;}
.card1>img{
    margin-top:  20px;
    width: 70px;
    height: 70px;
    background-color:rgba(126, 146, 117, 0.31);
    border-radius: 78px;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    padding: 20px 20px 58px;
 
    max-width: 295px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}
 
 .card2>img{
    margin-top:  20px;
     width: 70px;
     height: 70px;
     background-color:rgba(126, 146, 117, 0.31);
     border-radius: 78px;
 }
 .card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    padding: 20px 20px 58px;
 
    max-width: 295px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
 }
 .card3>img{
    margin-top:  20px;
     width: 70px;
     height: 70px;
     background-color:rgba(126, 146, 117, 0.31);
     border-radius: 78px;
 }
 .card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 58px;
    max-width: 295px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
   
 }
 .card4>img{
    margin-top:  20px;
     width: 70px;
     height: 70px;
     background-color:rgba(126, 146, 117, 0.31);
     border-radius: 78px;
     color:rgb(126, 146, 117, 0.31);
 }
 .divsection2{
    display: flex;
    margin-top: 20px;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 130px;
    max-width: 1570px;
    margin-top: 20px;
    
    
}

.card1>p, 
.card2>p,
.card3>p,
.card4>p {
    width: 228px;
    height: 15px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
   
    
    text-align: center;
    
    color: #000000;
 
}

